<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Pet Computação UECE</title>

  <link rel="icon" href="Media/LogoPET.png">
  <!--<link rel="stylesheet" type="text/css" href="Css/reset.css">-->
  
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

	<link href="css/petCss.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
	<header>
	  	<div class="container-fluid">
	    	<div id="logoCabecalho">
	      	<div id="logoCabecalhoImgpet">
	          	<img src="../media/LogoPET.png" alt="PET Computação Uece" width="107px" height="77px"/>
	          </div>
	          <div id="logoCabecalhoTexto">
	          	Programa de Educação Tutorial Computação <span class="laranja">UECE</span>
	          </div>
	      </div>
	  	</div>
  	
    
	    <nav class="navbar navbar-inverse">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <p class="navbar-text">Bem vindo à Pet Computação Uece</p>
	            </div>
	            <ul class="nav navbar-nav">
	                <li class="active"><a href="../index.html">Início</a></li>
	                <li><a href="../index.html#atividades">Atividades</a></li>
	                <li><a href="../index.html#integrantes">Integrantes</a></li>
	                <li><a href="../index.html#sobre">Sobre</a></li>
	                <li><a href="../index.html#rodape">Contato</a></li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Administrador</a></li>
	            </ul>
	        </div>    	
	    </nav>
        
  </header> <!-- FIM CABEÇALHO -->

  <main>
  	
  	<!-- EDITE AQUI! -->

  </main>

  <footer id="rodape">
    <div class="container-fluid text-center">
      <p class="laranja">&copy PET Computação Uece</p>
      <div class="col-sm-6">
          <img src="../media/icoEmail.fw.png" alt="Endereço eletrônico" width="50px" height="30px"  /> 
          <p>
            Entre em contato conosco
          </p>
          <p class="laranja">
            petcompuece@googlegroups.com
          </p>
      </div>

      <div class="col-sm-6">
        <img class="bw" src="../media/icoMaps.fw.png" alt="Localização PET" width="50" height="40"/>
        <p>
          Não sabe onde fica o Pet Computação Uece?
        </p>  
          <a href="https://www.google.com.br/maps/dir/-3.7871105,-38.5539198//@-3.786916,-38.5541562,19z" target="blank"> 
            <p class="laranja">Localize-nos</p>     
          </a>
      </div> 
    </div> 
  </footer>

</body>
</html>